  <section>
    <%= lc { id, headline, content } inlist @posts do %>
      <article class="blog_post">
        <h1><a href="/posts/<%= id %>"><%= headline %></a></h1>
        <p>
          <%= content %>
        </p>
        <a href="/post/<%= id %>" class="button readmore">Read More</a>
      </article>
    <% end %>
  </section>
