<div class="container">

  <section>

    <article class="user">

      <img src="<%= @user.gravatar %>" alt="Image for <%= @user.full_name %>">
      <h1><%= @user.full_name %></h1>
      <p><%= @user.bio %></p>
      <%= if @current_user && @current_user.id == @user.id do %>
        <ul class="author_actions">
          <li><a href="/user/<%= @user.id %>/edit" class="button edit">Edit Profile</a></li>
        </ul>
      <%= end %>
    </article>

  </section>

</div>
