/*----------------------------------------
Tantek Celik's Whitepsace Reset
     Author:    Tantek Celik, Shane Riley
    Version:    (CC) 2010 Some Rights Reserved - http://creativecommons.org/licenses/by/2.0
Description:  Resets default styling of common browsers to a common base
----------------------------------------
*/
ul, ol {
  list-style: none; }

h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0; }

a {
  color: #f14a2a;
  text-decoration: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
}

a:hover {
  color: #313131;
}

input[type="submit"]:hover {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
}

a img, :link img, :visited img, fieldset {
  border: none; }

address {
  font-style: normal; }

header, section, article, nav, footer, hgroup, details, summary, figure {
  display: block; }

mark {
  color: inherit;
  background: transparent; }

abbr {
  border: none; }

summary::-webkit-details-marker {
  display: none; }

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Merriweather", serif;
  margin: 0 0 340px;
  text-rendering: optimizeLegibility;
}

.notfound {
  background: #313131;
}

.container {
  width: 75%;
  padding: 0 20px;
  min-width: 320px;
  max-width: 750px;
  margin: 0 auto;
  overflow: auto;
  position: relative;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: #313131;
  padding: 50px 0;
  margin-bottom: 80px;
  overflow: hidden;
}

header h1 {
  background: url("../images/icon_logo.png") center left no-repeat;
  font-size: 30px;
  line-height: 41px;
  font-weight: 200;
  padding-left: 40px;
  float: left;
}

header h1 a {
  color: #dadada;
}

header h1 a:hover {
  color: #ffffff;
}

.session {
  float: right;
}

@media screen and (max-width: 565px) {
  header h1 {
    float: none;
    margin-bottom: 20px;
  }
  .session {
    clear: left;
    float: none;
  }
}

.session a.username {
  color: #818181;
  font: 17px "Raleway", sans-serif;
  font-weight: 200;
  padding-right: 10px;
}

.session a.username:hover {
  color: #ffffff;
}

.flash {
  padding: 20px;
  margin-bottom: 50px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -border-radius: 5px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flash p {
  font: 20px "Raleway", sans-serif;
  margin-bottom: 0;
}

.success {
  border: 1px solid #abcbad;
}

.success p {
  color: #77aa79;
}

.failure {
  border: 1px solid #cf4444;
}

.failure p {
  color: #cf4444;
}

.notfound section {
  text-align: center;
  padding-top: 120px;
}

section h1 {
  color: #313131;
  font-size: 42px;
  font-weight: 800;
  position: relative;
}

section h2 {
  color: #313131;
  font-size: 27px;
  font-weight: 800;
  margin-bottom: 30px;
}

/* CSS animation thanks to Justin Aguilar, http://www.justinaguilar.com/animations */

.notfound section h1 {
  color: #ffffff;
  font: 220px/1 "Helvetica", Arial, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  animation-name: expandOpen;
  -webkit-animation-name: expandOpen; 
  animation-duration: 1.2s; 
  -webkit-animation-duration: 1.2s;
  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;  
  visibility: visible !important; 
}

@keyframes expandOpen {
  0% {
    transform: scale(1.8);    
  }
  50% {
    transform: scale(0.95);
  } 
  80% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.98);
  } 
  100% {
    transform: scale(1);
  }     
}

@-webkit-keyframes expandOpen {
  0% {
    -webkit-transform: scale(1.8);    
  }
  50% {
    -webkit-transform: scale(0.95);
  } 
  80% {
    -webkit-transform: scale(1.05);
  }
  90% {
    -webkit-transform: scale(0.98);
  } 
  100% {
    -webkit-transform: scale(1);
  }         
}

article {
  border-bottom: 1px solid #e6e6e6;
  padding: 0 20px 60px 20px;
  margin: 0 -20px 75px -20px;
  overflow: auto;
}

article.no_articles {
  border-bottom: 0;
}

article.author {
  padding-bottom: 30px;
  margin-bottom: 45px;
}

article.user, article.user_edit {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

article.user p {
  clear: both;
}

article.list {
  padding-bottom: 20px;
  margin-bottom: 45px;
}

article.author + article.list {
  border-bottom: 0;
}

article > h1 {
  margin-bottom: 20px;
}

article h1 a {
  color: #313131;
}

article h1 a:hover {
  color: #f14a2a;
}

.blog_post h1::after {
  border-top: 5px solid #313131;
  display: block;
  width: 190px;
  height: 0;
  content: "";
  position: relative;
  margin: 30px 0;
}

.author h1 {
  margin-bottom: 15px;
}

.author h1 span {
  color: #858484;
  font-size: 17px;
  font-weight: 200;
  padding: 10px 20px;
  background: #ececec;
  display: inline-block;
  position: relative;
  top: -7px;
  margin-left: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 510px) {
  .author h1 span {
    position: relative;
    margin: 0 0 25px 0;
  }
}

.blog_post aside h1::after {
  border-top: 0;
  display: none;
}

.user_edit h1 {
  margin-bottom: 30px;
}

aside h1 {
  font-size: 25px;
  display: inline-block;
}

aside h1 a {
  color: #f14a2a;
}

aside h1 a:hover {
  color: #313131;
}

section p, li {
  color: #696969;
  font: 16px/30px "Merriweather", serif;
}

section p {
  margin-bottom: 15px;
}

section p.instructions {
  margin-bottom: 40px;
}

.blog_post > img {
  border-bottom: 5px solid #313131;
  float: right;
  clear: both;
  padding-bottom: 15px;
  margin: 0 0 20px 20px;
}

aside img {
  float: left;
  border-bottom: 0;
  padding-bottom: 0;
  margin: 0 20px 0 0;
}

.user img, .user_edit img {
  float: right;
}

@media screen and (max-width: 585px) {
  .user img, .user_edit img {
    float: none;
    margin-bottom: 15px;
  }
}

.author img {
  border-bottom: 0;
  float: none;
  margin: 0 0 10px 0;
}

form {
  clear: both;
}

ul, ol {
  list-style-position: inside;
  margin: 0 0 15px 20px;
}

ul {
  list-style: square;
}

ul.author_actions {
  list-style: none;
  margin: 10px 0 20px 0;
}

ul.social {
  list-style: none;
  margin: 20px 0;
}

h1 + ul.social {
  margin: 8px 0 15px 0;
}

ol {
  list-style: decimal;
}

li {
  margin: 0 0 5px 20px;
}

.author_actions li, .social li {
  display: inline-block;
  margin: 0;
}

.author_actions li + li, .social li + li {
  margin-left: 5px;
}

@media screen and (max-width: 745px) {
  ul.author_actions {
    margin-bottom: 30px;
  }
  .author_actions li {
    display: block;
  }
  .author_actions li + li {
    margin-left: 0;
    margin-top: 10px;
  }
}

dl.articles, dl.drafts {
  font-family: "Raleway", sans-serif;
}

dl.articles dt, dl.drafts dt {
  font-size: 20px;
  font-weight: 700;
}

dl.articles dd, dl.drafts dd {
  font-size: 17px;
  font-weight: 200;
  margin-bottom: 20px;
}

dl.drafts dt a {
  color: #757575;
}

dl.drafts dt a:hover {
  color: #525252;
}

dl.edit_profile dd {
  margin-bottom: 15px;
}

label {
  color: #7f7f7f;
  font: 16px "Raleway", sans-serif;
  display: block;
  margin-bottom: 10px;
}

input, textarea {
  color: #696969;
  font: 16px/30px "Merriweather", serif;
  border: 1px solid #c2c2c2;
  padding: 15px;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.signinform input[type="email"] {
  background: transparent url("../images/icon_envelope.png") 20px center no-repeat;
  padding-left: 60px;
}

.signinform input[type="password"] {
  background: transparent url("../images/icon_key.png") 20px center no-repeat;
  padding-left: 60px;
}

input:focus, textarea:focus {
  color: #414141;
  border: 1px solid #909090;
  outline: 0;
}

textarea {
  min-height: 300px;
  max-width: 100%;
}

.error label {
  color: #cf4444;
}

.error input, .error textarea {
  border: 1px solid #cf4444;
}

.actions {
  margin-bottom: 60px;
  overflow: hidden;
}

.actions a {
  font: 17px "Raleway", sans-serif;
  color: #f14a2a;
  float: right;
  padding-top: 17px;
}

.actions a:hover {
  color: #313131;
}

input[type="submit"] {
  border: 0;
  cursor: pointer;
  background: #f14a2a;
  float: left;
  display: inline-block;
  width: auto;
}

input[type="submit"]:focus {
  color: #ffffff;
}

input[type="submit"]:hover {
  background: #313131;
}

input[type="submit"].draft {
  background: #a6a6a6;
  float: right;
}

input[type="submit"].draft:hover {
  background: #747474;
}

.button {
  color: #ffffff;
  font: 17px "Raleway", sans-serif;
  font-weight: 200;
  display: inline-block;
  padding: 15px 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.notfound .button {
  background: #f14a2a;
  margin-top: 45px;
}

.notfound .button:hover {
  background: #ffffff;
  color: #f14a2a;
}

a.button:hover {
  color: #ffffff;
}

.edit, .view, .new {
  padding: 10px 20px;
}

.edit + h1 {
  margin-top: 40px;
}

.edit, .view {
  background: #a6a6a6;
}

.edit:hover, .view:hover {
  background: #525252;
}

.new {
  background: #f14a2a;
}

.new:hover {
  background: #313131;
}

.twitter, .github {
  font-size: 16px;
  padding: 10px 20px 10px 40px;
}

.twitter {
  background: #00acee url("../images/icon_twitter.png") 15px 12px no-repeat;
}

.twitter:hover {
  background-color: #0095cd;
}

.github {
  background: #171515 url("../images/icon_github.png") 15px 11px no-repeat;
}

.github:hover {
  background-color: #000000;
}

.readmore {
  background: #f14a2a;
  float: left;
  margin: 20px 0 15px;
}

.signinout {
  color: #818181;
  background: #3d3d3d;
  display: inline-block;
  padding: 10px 20px;
}

.signinout:hover {
  background: #484848;
}

.credits {
  color: #b4b4b4;
  font: 17px "Raleway", sans-serif;
  margin: 36px 0 3px 0;
}

.credits a {
  color: #f14a2a;
}

.credits a:hover {
  color: #313131;
}

.readmore + .credits {
  float: left;
  margin-left: 20px;
}

.readmore:hover {
  background: #313131;
}

.nav {
  background: #313131;
  overflow: auto;
  margin-bottom: 60px;
}

.nav:hover {
  background: #f14a2a;
}

.prev {
  float: left;
}

.next {
  float: right;
}

nav {
  margin-bottom: 60px;
  overflow: hidden;
}

footer {
  color: #5a5a5a;
  font-family: "Raleway", sans-serif;
  background: #313131;
  padding: 70px 0 250px;
  height: 340px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer a {
  color: #787878;
}

footer a:hover {
  color: #8e8e8e;
}