<% content_for :title do %>
  Page Not Found
<% end %>

<% content_for :body_class do %>
  notfound
<% end %>

<h1>404</h1>

<p>Sorry, you should look somewhere else.</p>

<a href="/" class="button">Home</a>