<section>

  <article class="blog_post">

    <h1><%= @post.headline %></h1>
    <p>
      <%= @post.content %>
    </p>
  </article>

  <nav>
    <a href="#" class="button nav prev">Previous Post</a>
   <a href="#" class="button nav next">Next Post</a>
  </nav>

</section>